body {
    background-color: lightgrey;
    padding-top: 5 rem;
  }

  h1 {
    color: black;
    text-align: center;
  }

  p {
    font-family: verdana;
    font-size: 20px;
    color: orangered;
  }

  nav{
    color: blue;
    text-align: center;
    font-size: 20px;

  }

  #first{
    color:green;
  }

  #second{
    font-family: verdana;
    font-size: 20px;
  }

  .circle{
    /*Credit to W3schools.com */
    border-radius: 50%;
  }

  
  
  button.button2{
    margin: 0px;
    vertical-align: auto;
    margin-left: 375px;
  }